<div class="container users-container text-center">
  <div class="users-form d-flex align-items-center">
    <h4 class="form-heading">新規アカウント作成</h4>
    <div class="form-body">
      <div>
        <input type="email" name="email" value="" placeholder="メールアドレス">
      </div>
      <div>
        <input type="password" name="password" value="" placeholder="パスワード">
      </div>
      <div>
        <input type="submit" value="いますぐ無料で始める">
      </div>
    </div>
  </div>
</div>
